@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #c9cacc;
  font-family: 'Inconsolata';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

.anchor {
  color: #d1600c;
  border-bottom: 1px solid transparent;
}

.anchor:hover {
  border-bottom: 1px solid #d1600c;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}


