@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-v3-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v3-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v3-latin-regular.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v3-latin-regular.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v3-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("../fonts/inter-v3-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-v3-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("../fonts/inter-v3-latin-900.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("../fonts/inter-v3-latin-900.woff2") format("woff2"),
      /* Super Modern Browsers */ url("../fonts/inter-v3-latin-900.woff")
        format("woff"),
      /* Modern Browsers */ url("../fonts/inter-v3-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */ url("../fonts/inter-v3-latin-900.svg#Inter")
        format("svg"); /* Legacy iOS */
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  /* color: #c9cacc; */
  /* font-family: "Inconsolata"; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

.anchor {
  color: #d1600c;
  border-bottom: 1px solid transparent;
}

.anchor:hover {
  border-bottom: 1px solid #d1600c;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
