.reactMD {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #dd3300;
    text-align: center;
  }

  h2 {
    color: #dd3300;
    margin-top: 2rem;
  }

  h3 {
    color: #dd3300;
  }

  pre {
    margin: 1rem auto;
    overflow-x: hidden;
  }

  inlineCode {
    background-color: #dd3300;
    color: #fff;
  }
}
