.reactMD {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #d1600c;
    text-align: center;
  }

  h2 {
    color: #d1600c;
    margin-top: 2rem;
  }  

  h3 {
    color: #d1600c;
  }

  pre {
    margin: 1rem auto;
    overflow-x: hidden;
  }


  // .main {
  //   display: flex;
  //   flex-direction: column;
  //   @media(min-width:1024px) {
  //     max-width: 50%;
  //     margin: 0 auto;
  //   }
  // }
}
